<!DOCTYPE html>
<html>
	<head>
		<title>Anagrams</title>
		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<div id="root">
			<div id="content">
				<div class="row" id="endgame-row">
					<div class="end-cols end-left">
						<div id="endgame-message">
							<h1 id="title">Time's Up!</h1>
							<h2>Final Score: 
								<span style="color: white;">{{final_score}}</span>
							</h2>
							<h2>You got
								<span style="color: white;">{{num_typed}}</span>
								anagrams
							</h2>
							<br><br>
							<a id="endgame-home-button" href="/">Go Home</a>
							<br><br>
						</div>
						<div id="high-score-list">
							ALL-TIME HIGH SCORES
							{% for i in range(5) %}
							<div class="high-score-entry">
								<div id="letter-container">
									{% for letter in high_scores[i][1] %}
									<div class="small-letter">{{letter}}</div>
									{% endfor %}
								</div>
								{% if i == success %}
								<p style="color:aqua">{{high_scores[i][0]}}</p>
								{% else %}
								<p>{{high_scores[i][0]}}</p>
								{% endif %}
							</div>
							{% endfor %}
							{% if success < 5 %}
								<p>You got a high score!</p>
							{% endif %}
						</div>
					</div>

					<div class="end-cols row">
						<div class="words-list">
							<p>YOUR WORDS:</p>
							{% for word in typed_words %}
								<div class="word">{{word}}</div>
							{% endfor %}
						</div>
	
						<div class="words-list" id="words-list-visible">
							<p>ALL WORDS:</p>
							{% for word in shown_words %}
								{% if all_words[word] == True %}
									<div class="word" style="text-decoration: line-through;">{{word}}</div>
								{% else %}
									<div class="word">{{word}}</div>
								{% endif %}
							{% endfor %}
							<button onclick="show_more()" type="button" id="show-more-btn">Show More</button>
							<div id="words-list-hidden">
								{% for word in hidden_words %}
									{% if all_words[word] == True %}
										<div class="word" style="text-decoration: line-through;">{{word}}</div>
									{% else %}
										<div class="word">{{word}}</div>
									{% endif %}
								{% endfor %}
								<button onclick="show_less()" type="button" id="show-less-btn" style="display: none;">Show Less</button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
    <script type="text/javascript" src="{{ url_for('static', filename='endgame.js') }}"></script>
</html>
