<!DOCTYPE html>
<html>
	<head>
		<title>Anagrams</title>
		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<div id="root">
			<div id="content">
				<div class="row" id="endgame-row">
					<div class="end-cols">
						<h1 id="title">Time's Up!</h1>
						<h2>Final Score: 
							<span style="color: white;">{{final_score}}</span>
						</h2>
						<h2>You got
							<span style="color: white;">{{num_typed}}</span>
							anagrams
						</h2>
						<br><br>
						<a id="endgame-home-button" href="/">Go Home</a>
					</div>

					<div class="end-cols row">
						<div class="words-list">
							<p>YOUR WORDS:</p>
							{% for word in typed_words %}
								<div class="word">{{word}}</div>
							{% endfor %}
						</div>
	
						<div class="words-list">
							<p>ALL WORDS:</p>
							{% for word in all_words %}
								<div class="word">{{word}}</div>
							{% endfor %}	
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</html>
