<!DOCTYPE html>
<html>
	<head>
		<title>Anagrams</title>
		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}"/>
	</head>
	<body>
		<div id="root">
			<h1>Anagrams Game</h1>
            <div id="content" class="row">
				<div class="col-8">
					<form method="post">
						<input type="text" name="userTyped" placeholder="Enter words" autofocus="autofocus" class="game-input">
					</form>
					<!-- <p>{{hand}}</p> -->
					<div id="word-result">
						{% if result==0 %}
							<p style="color:red">Not a valid word</p>
						{% elif result== 1 %}
							<p style="color:red">Already used</p>
						{% elif result==2 %}
							<p style="color:greenyellow">+{{added_score}}</p>
						{% endif %}
					</div>
					<div id="letter-container">
						{% for letter in hand %}
						<div class="letter">{{letter}}</div>
						{% endfor %}
					</div>
					
					{% for word in typed_words %}
						<div class="word">{{word}}</div>
					{% endfor %}
				</div>
				<div class="col-3" style="padding-left: 30px;">
					<p>Timer:</p>
					<div id="timer">{{time}}</div>
					<p>Score: <h1>{{score}}</h1></p>
				</div>
            </div>
		</div>
	</body>
    <script type="text/javascript" src="{{url_for('static', filename='game.js')}}"></script>
</html>
