<!DOCTYPE html>
<html>
	<head>
		<title>Anagrams</title>
		<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
	</head>
	<body>
		<div id="root">
			<h1>Anagrams Home</h1>
            <!-- <button onclick=start()>Start Game</button> -->
            <div id="content">
                <p>How to Play: form as many words as you can! go go go</p>
                <form method="post">
					<p>How many tiles do you want (6 - 9)?</p>
                    <input type="text" name="tiles" id="userTyped" placeholder="0"
							value="{{ request.form['tiles'] }}">
					<p>How many seconds do you want (10 - 300)?</p>
					<input type="text" name="seconds" id="userTyped" placeholder="0"
							value="{{ request.form['seconds'] }}">
					<button type="submit">Start Game</button>
                </form>
            </div>
		</div>
	</body>
    <script type="text/javascript" src="../assets/script.js"></script>
</html>
